services:
  - type: web
    name: school-management
    env: python
    runtime: python-3.13
    region: ohio
    plan: free
    startCommand: "gunicorn school_management.wsgi --log-file -"
    buildCommand: "bash build.sh"
    envVars:
      - key: DEBUG
        value: "False"
      - key: USE_POSTGRESQL
        value: "True"
      - key: ALLOWED_HOSTS
        value: "*.onrender.com"
      - key: SECRET_KEY
        sync: false
      - key: DATABASE_URL
        sync: false

  - type: pserv
    name: school-management-db
    env: postgresql
    region: ohio
    plan: free
    ipAllowList: []
